.right-container{
    grid-column: 3;
    border-left: 2px solid black; 
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid black; 

    .item-image{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        cursor: pointer;
        user-select: none;
        &:hover, &:active {
            transform: scale(1.2);
        }
    }
}