.App {
  text-align: center;
  background-color: #e3e3e1;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  font-family: monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
